body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  font-size: 32px;
}

.btn-primary {
	height: 100px;
	width: 200px;
}

.button {
	text-align: center;
}

.button-label {
	font-size: 25px;
}

.title {
	font-size: 60px;
	text-align: center;
}

.movie-list { 
	text-align: center;

}
